:root {
  --primary-color: white;
  --secondary-color: black;
  --tertiary-color: #0a5386;
}

/* Universal Selector */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Element Selectors */
body {
  color: var(--tertiary-color);
  font-family: Helvetica, Arial, sans-serif;
}

/* Navbar Section */
.nav-bar {
  padding: 20px;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.nav-bar h1 {
  font-weight: bold;
  margin: 0;
  font-size: 36px;
  color: var(--primary-color);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-bar a {
  text-decoration: none;
  color: var(--primary-color);
}

.nav-bar nav {
  margin: 7px 0;
}

.nav-bar nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-bar nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-decoration: underline;
}

.nav-bar nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

.nav-bar .logo {
  padding-right: 15px;
}

/* Hero Section */
.hero {
  height: 300px;
  margin-bottom: 25px;
  background-image: url('../images/hero_banner.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

.hero-cta {
  text-align: right;
  width: 35%;
  align-self: flex-end;
  margin: 3.5%;
  color: #fff;
  font-size: 25px;
  line-height: 1.2;
}

/* About me section */
.about-me {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}

.about-me-text {
  flex: 1;
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-size: 50px;
  border-bottom: 3px solid var(--tertiary-color);
  align-self: center;
}

.about-me-text header {
  margin-right: 10px;
}

.about-me-body {
  flex: 3;
  flex-grow: 6;
}

.about-me-body p {
  flex: 3;
  flex-grow: 6;
  padding-right: 140px;
  padding-left: 140px;
  font-size: 20px;
  text-align: center;
}

.about-me img {
  align-self: center;
}

/* Work Section */
.work {
  background-color: var(--tertiary-color);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
}

.work-text {
  flex: 1;
  color: var(--primary-color);
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-size: 50px;
  border-bottom: 3px solid var(--primary-color);
  align-self: center;
}

.work h3 {
  color: var(--primary-color);
  text-align: center;
}

/* Card Section */
.work img {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  justify-items: center;
  border: 3px solid #000;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
}

.row {
  margin: auto;
  width: 50%;
}

.column {
  display: flex;
  margin: auto;
  padding-left: 200px;
  flex-wrap: wrap;
}

.column img {
  margin: 10px;
  border: 3px solid #000;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  max-width: 25vw;
}

/* .card {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1000px;
  align-content: space-around;
}

.card .project1 {
  display: flex;
}

.card img {
  margin: 10px;
  border: 3px solid #000;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  max-width: 25vw;
} */

/* FOOTER STYLES START */
footer {
  background: #46cff9;
  padding: 40px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

footer h2 {
  color: var(--secondary-color);
  font-size: 30px;
  margin: 0;
}

footer div {
  line-height: 1.5;
  text-align: right;
}

footer a {
  color: var(--secondary-color);
}
